@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    padding: 0rem 4rem 4rem 4rem;
    font-style: normal;
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

nav a:hover {
    opacity: 50%;
}

.your-bookings {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.car {
    border-radius: 3rem;
    padding: 3rem;
    margin: 2rem 0rem;
    border: 2px black solid;
}

.car h2 {
    margin: 0 0 2rem 0;
}

.car h4 {
    margin: 0.7rem 0rem;
}

.car-description {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.car-description div {
    width: 8rem;
}

.button-div {
    display: flex;
    width: 100%;
}

.button-div button {
    margin-right: 1rem;
}

button {
    background-color: black;
    font-size: 1rem;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

button:hover {
    opacity: 50%;
    cursor: pointer;
}

.edit-button {
    background: none;
    border: 2px solid black;
    color: black;
}

.date-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#car-list-header {
    text-align: center;
}

.car-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.car-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 3rem 0 3rem;
}

.car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.car-brand {
    font-size: x-large;
    margin: 0;
}

.search-section {
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
}

.search-form {
    background-color: #fff;
    padding: 4rem;
    border-radius: 2rem;
    min-width: 450px;
}

.search-div {
    width: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #4caf50;
    outline: none;
}
.search-button {
    /* background-color: #4caf50; */
    color: white;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #45a049;
}

/* login styles */
/* from here */

.login-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.login-div form {
    height: 400px;
    width: 400px;
}

input {
    width: 350px;
    height: 50px;
}

form button {
    margin-top: 2rem;
}

/* login styles */
/* to here */

@media screen and (max-width: 1224px) {
    .car-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 868px) {
    .car-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin: 0 1rem 0 1rem;
        padding: 0;
    }

    .search-form {
        flex-direction: column;
    }
}
